
body{
    background-color: black;
    margin: 0;
}
.wrapper{
    padding-top: 50px;
    padding-bottom: 100px;
    
}
.card{
    width: 500px;
    height: 700px;
    background-color: white;
    display: block;
    margin: auto;
}
.top{
    display:inline-block;
}
.footer{
    padding: 15px;
    }
.blocky{
    display: block;
}
.lefty{
    float: right;
}
.header{
    padding: 15px;
}
#html5icon{
    position: relative;
    bottom: 2px;
}
.iconos{
    padding-bottom: 20px;
}
.helvy{
    font-family: Arial, Helvetica, sans-serif;
}